In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

### Subtask 1.1: Loading data

* Import and read the movie database. Store it in a variable called `movies` (0.5 marks)

In [3]:
movies = pd.read_csv("movie_data.csv")
movies.head()

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Towering Inferno,Color,John Blanchard,NaN,65.0,0.0,176.0,Andrea Martin,770.0,NaN,...,NaN,English,Canada,NaN,NaN,NaN,179.0,9.5,1.33,0
1,The Shawshank Redemption,Color,Frank Darabont,199.0,142.0,0.0,461.0,Jeffrey DeMunn,11000.0,28341469.0,...,4144.0,English,USA,R,25000000.0,1994.0,745.0,9.3,1.85,108000
2,The Godfather,Color,Francis Ford Coppola,208.0,175.0,0.0,3000.0,Marlon Brando,14000.0,134821952.0,...,2238.0,English,USA,R,6000000.0,1972.0,10000.0,9.2,1.85,43000
3,Dekalog,Color,NaN,53.0,55.0,NaN,2.0,Olaf Lubaszenko,20.0,447093.0,...,37.0,Polish,Poland,TV-MA,NaN,NaN,3.0,9.1,1.33,0
4,Dekalog,Color,NaN,53.0,55.0,NaN,2.0,Olaf Lubaszenko,20.0,447093.0,...,37.0,Polish,Poland,TV-MA,NaN,NaN,3.0,9.1,1.33,0

### Subtask 1.2: Inspect the dataframe

* Inspect the dataframe's columns, shapes & variable types (2 marks)

In [4]:
# Write your code for inspection here
print(movies.columns)
print(movies.shape)
print(movies.dtypes)

Index(['movie_title', 'color', 'director_name', 'num_critic_for_reviews',
       'duration', 'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
(5043, 28)
movie_title                   object
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

### Subtask 1.3: Display the summary statistics
* Inspect the statistical summary of the dataframe (0.5 marks)

In [5]:
# write your code for inspection here
movies.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

### Subtask 1.4: Draw insights from the statistics
* What is the average duration of all the movies (1 mark)
* Find the details of movie which has the highest imdb score (1 mark)

In [6]:
#What is the average duration of all the movies, round off your answer to 2 decimal points
Average_duration=input("Enter the average duration of the movies:")
print(round(float(Average_duration),2))

Enter the average duration of the movies:107.201074
107.2

In [7]:
# Write the code to find the details of movie which has the highest imdb score
highest_imdb = movies[movies['imdb_score'] == movies['imdb_score'].max()]
highest_imdb_movie = highest_imdb['movie_title'][0].strip()
print(highest_imdb_movie)

Towering Inferno

## Task 2: Cleaning the Data

* Comment above the cells, showing what each codeblock is doing

-  ### Subtask 2.1: 

#### Here we are calculating the total number of null values present in each and every column. ( 1 mark )

In [8]:
movies.isnull().sum()

movie_title                    0
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

#### Here we are calculating the percentage of null values present in each and every column and then rounding it off by 2.

In [9]:
round(100*(movies.isnull().sum()/len(movies.index)), 2)

movie_title                   0.00
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: 

#### Here we are dropping the columns which we do not need further in our analysis. ( 1 mark )

In [10]:
movies = movies.drop(['color', 
                      'director_facebook_likes', 
                      'actor_3_facebook_likes', 
                      'actor_1_facebook_likes', 
                      'cast_total_facebook_likes', 
                      'actor_2_facebook_likes', 
                      'duration', 
                      'facenumber_in_poster', 
                      'content_rating', 
                      'country', 
                      'movie_imdb_link', 
                      'aspect_ratio',
                      'plot_keywords',
                      'actor_2_name',
                      'actor_3_name'], 
                       axis = 1)

#### Here we are removing the duplicate rows if any.

In [11]:
movies.drop_duplicates(subset = None, keep = 'first', inplace = True)

-  ### Subtask 2.3:

#### In the below cell we are removing entire rows having null values in 'gross' and 'budget' columns. ( 1 mark )

In [12]:
movies = movies[~np.isnan(movies['gross'])]
movies = movies[~np.isnan(movies['budget'])]
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185000000.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,790926,650.0,English,13000000.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94000000.0,2003.0,8.9,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Crossover,Preston A. Whitmore II,25.0,7009668.0,Action|Sport,Wesley Jonathan,8707,36.0,English,5600000.0,2006.0,2.1,244
5037,Who's Your Caddy?,Don Michael Paul,25.0,5694308.0,Comedy|Sport,Jeffrey Jones,13815,46.0,English,7000000.0,2007.0,2.0,446
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

-  ### Subtask 2.4: 

#### In the below cell we are considering the rows having null values less than 5. ( 1 mark )

In [13]:
movies = movies[movies.isnull().sum(axis=1) <= 5]
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185000000.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,790926,650.0,English,13000000.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94000000.0,2003.0,8.9,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Crossover,Preston A. Whitmore II,25.0,7009668.0,Action|Sport,Wesley Jonathan,8707,36.0,English,5600000.0,2006.0,2.1,244
5037,Who's Your Caddy?,Don Michael Paul,25.0,5694308.0,Comedy|Sport,Jeffrey Jones,13815,46.0,English,7000000.0,2007.0,2.0,446
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

-  ### Subtask 2.5: 

#### In the below cell we are checking for null values in language column, and if found update it with 'English'. ( 1 mark )

In [14]:
movies['language'].describe()
movies.loc[pd.isnull(movies['language']), ['language']] = 'English'
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185000000.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,790926,650.0,English,13000000.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94000000.0,2003.0,8.9,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Crossover,Preston A. Whitmore II,25.0,7009668.0,Action|Sport,Wesley Jonathan,8707,36.0,English,5600000.0,2006.0,2.1,244
5037,Who's Your Caddy?,Don Michael Paul,25.0,5694308.0,Comedy|Sport,Jeffrey Jones,13815,46.0,English,7000000.0,2007.0,2.0,446
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

## Task 3: Data Analysis

-  ### Subtask 3.1: Convert units of gross and budget to millions for all movies in the dataset. (2 marks)

In [15]:
# Write your code here
movies['gross'] = movies['gross']/1000000
movies['budget'] = movies['budget']/1000000
movies.head()

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,1155770,2238.0,English,6.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,790926,650.0,English,13.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94.0,2003.0,8.9,16000

-  ### Subtask 3.2:  Display the 10 movies with the highest profit. (Blockbuster Movies playlist) (2 marks)

In [16]:
# Write your code here
movies1 = movies.copy()
movies1['movie_title'] = movies1['movie_title'].apply(lambda x:x.strip())
movies1['Profit'] = movies1['gross'] - movies1['budget']
movies1 = movies1.sort_values(by=['Profit'], ascending = False)
blockbuster_movie_list = movies1['movie_title'].head(10).to_list()
print(blockbuster_movie_list)

['Avatar', 'Jurassic World', 'Titanic', 'Star Wars: Episode IV - A New Hope', 'E.T. the Extra-Terrestrial', 'The Avengers', 'The Lion King', 'Star Wars: Episode I - The Phantom Menace', 'The Dark Knight', 'The Hunger Games']

-  ### Subtask 3.3: Display the top 10 movies (based on IMDb ratings) with a minimum of 25,000 ratings (Most Loved movies playlist) (4 marks)

In [17]:
# Write your code here
movies1 = movies.copy()
movies1['movie_title'] = movies1['movie_title'].apply(lambda x:x.strip())
movies1 = movies1[movies1['num_voted_users'] >= 25000]
movies1 = movies1.sort_values(by=['imdb_score'], ascending = False) 
loved_movie_list = movies1['movie_title'].head(10).to_list()
print(loved_movie_list)

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Godfather: Part II', 'The Lord of the Rings: The Return of the King', "Schindler's List", 'Pulp Fiction', 'The Good, the Bad and the Ugly', 'Fight Club', 'Star Wars: Episode V - The Empire Strikes Back']

- ### Subtask 3.4: Display the names of  the top 5 directors based on IMDb ratings with a minimum of 5 movies (Top Directors Playlist)  (4 marks)

In [18]:
# Write your code here
movies1 = movies.copy()
director_df = movies1.groupby('director_name').agg({'movie_title':'count','imdb_score':'mean'})
top_director_playlist = director_df.loc[director_df['movie_title'] >= 5].sort_values(by=['imdb_score'], ascending=False)
top_director_playlist.head(5).index.to_list()

['Christopher Nolan',
 'Quentin Tarantino',
 'James Cameron',
 'Alejandro G. Iñárritu',
 'David Fincher']

-  ### Subtask 3.5.1: Find the most popular genre of movies (by highest average rating) (4 marks)

In [19]:
# Write your code here
movies1 = movies.copy()
movies1['genres_1'] = movies1['genres'].apply(lambda x:x.split('|')[0])
primary_genre_imdb = movies1.groupby('genres_1')['imdb_score'].agg('mean')
highest_imdb_genre = primary_genre_imdb.sort_values(ascending=False).idxmax()
highest_imdb_genre

'Biography'

-  ### Subtask 3.5.2: Find the most popular genre of movies (by total gross) (4 marks)

In [20]:
# Write your code here
movies1 = movies.copy()
movies1['genres_1'] = movies1['genres'].apply(lambda x:x.split('|')[0])
primary_genre_gross = movies1.groupby('genres_1')['gross'].agg('sum')
highest_gross_genre = primary_genre_gross.sort_values(ascending=False).idxmax()
highest_gross_genre

'Action'